# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Flask
instance/
.webassets-cache

# Temporary application files
uploads/
compressed/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.flaskenv

# Build artifacts
build/
dist/
*.egg-info/
