{% extends "base.html" %}

{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='converter.css') }}">
<div class="converter-body flex items-center justify-center w-full px-4 sm:px-6 py-8 sm:py-16">
    <div class="container mx-auto w-full max-w-6xl">
        <div class="converter-container">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="{% if category == 'error' %}bg-red-100 dark:bg-red-800/20 border-l-4 border-red-500 text-red-700 dark:text-red-300{% else %}bg-green-100 dark:bg-green-800/20 border-l-4 border-green-500 text-green-700 dark:text-green-300{% endif %} p-4 my-4 rounded-md" role="alert">
                    <p class="font-bold">{% if category == 'error' %}Error{% else %}Success{% endif %}</p>
                    <p>{{ message }}</p>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block converter_form %}{% endblock %}
            {% block converter_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
{% block converter_scripts %}{% endblock %}
{% endblock %}
