{% extends "layout.html" %}

{% block title %}PDF Converter{% endblock %}

{% block converter_form %}
<h1 class="text-3xl font-bold text-center mb-2">PDF Converter</h1>
<p class="text-center text-muted-light dark:text-muted-dark mb-8">Drag & drop a file or click to select.</p>

<form method="post" enctype="multipart/form-data">
    <div id="drop-zone" class="p-10 text-center rounded-lg cursor-pointer">
        <p class="text-muted-light dark:text-muted-dark">Drop your PDF here</p>
        <p class="text-sm my-2">or</p>
        <p class="text-primary-color font-semibold">Click to browse</p>
        <input type="file" name="file" id="file" class="hidden" required accept=".pdf">
    </div>

    <div id="file-preview">
        <p id="file-name" class="mt-2 text-sm text-center"></p>
    </div>

    <div class="my-6">
        <label for="format" class="block text-sm font-bold mb-2">Convert to:</label>
        <select name="format" id="format" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-color focus:border-primary-color block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-color dark:focus:border-primary-color">
            <option value="docx">DOCX</option>
            <option value="csv">CSV (Experimental)</option>
        </select>
    </div>
    <div class="flex items-center justify-center">
        <button type="submit" class="btn-primary text-white font-bold py-3 px-6 rounded-full w-full">
            Convert File
        </button>
    </div>
</form>
{% endblock %}